<!DOCTYPE html>
<html>
<head>
  <title>weather query website</title>
  <style>
  body {text-align: center; font-size: 20px}
  </style>
</head>
<body>
  <h1>城市天气查询系统</h1>
  <img src="https://raw.githubusercontent.com/muzhuangsheng/Py101-004/master/Chap3/project/weather_query.jpg?token=AY6_uczn3oGME50g6I_eN_lF5pQs6Cx_ks5ZukoUwA%3D%3D"
  width="550px" height="300px">
  <form action="/search" methods=["POST", "GET"]>
    <input type="text" name="city" placeholder="请输入您要查询的城市" value="{{ city }}">
    <input type="submit" name="search" value="查询">
    <input type="submit" name="history" value="历史">
    <input type="submit" name="help" value="帮助">
  </form>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div}
</body>
</html>
